.slides {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  background: #312c2f;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  border: 5px solid white;
  transition: all .25s;
  transform: translateX(-200%);

  // z-index: 10;
  &:hover {
    cursor: pointer;
  }


  &.next+.slide {
    // z-index: 10;

    transform: translateX(200%);
  }

  &.prev {
    // z-index: 10;
    transform: translateX(-100%);
  }

  &.current {
    // z-index: 10;
    transform: translateX(0);
  }

  &.next {
    // z-index: 10;
    transform: translateX(100%);
  }

  & img {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    height: auto;
    width: 100%;
  }

  &::after {
    pointer-events: none;
    content: attr(data-text);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }

  &::selection {
    background-color: transparent;
  }

  &:active {
    cursor: grabbing;
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  & button {
    border-radius: 5px;
  }
}